<!DOCTYPE html>
<html lang="en">
<%- include('../inc/head'); -%>
<body>
<!-- header -->
<%- include('../inc/header'); -%>

<!-- content -->
<div class="container my-4">
    <div class="row">
        <h1 class="display-3 text-center mb-3">Update Post</h1>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col col-md-6 ">
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                <div>
                    <label for="title" class="form-label">Post Title</label>
                    <input type="text" name="title" id="title" class="form-control" value="<%= post.title %>" required>
                </div>
                <div>
                    <label for="snippet" class="form-label">Post Snippet</label>
                    <input type="text" name="snippet" id="snippet" class="form-control" value="<%= post.snippet %>" required>
                </div>
                <div>
                    <label for="body" class="form-label">Post Body</label>
                    <textarea name="body" id="body" cols="30" rows="6" class="form-control" required><%= post.body %></textarea>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-lg btn-dark d-inline me-3">
                        <a href="/" class="text-decoration-none text-light">Back</a>
                    </button>
                    <button type="submit" class="btn btn-lg btn-success">Create</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- footer -->
<%- include('../inc/footer'); -%>

<!--scripts-->
<%- include('../inc/scripts'); -%>
</body>
</html>